@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@keyframes progress {
  0% {
    transform: translateX(-100%);
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(320%);
    opacity: 0.3;
  }
}

@layer base {
  * {
    -webkit-tap-highlight-color: transparent;
  }
}
